---
http_interactions:
- request:
    method: get
    uri: https://cloud-api.yandex.net/v1/disk?fields=user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "[**********]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Yandex-Cloud-Request-Id:
      - omitted
    body:
      encoding: UTF-8
      string: '{"user":{"reg_time":"2012-05-19T20:35:55+00:00","display_name":"jarocki","uid":"35452238","country":"ru","is_child":false,"login":"jarocki"}}'
  recorded_at: Sun, 26 May 2024 01:19:58 GMT
recorded_with: VCR 6.2.0
